@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prismjs/themes/prism-tomorrow.css'; /* Dark theme */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Set a base font size */
  font-size: 18px; /* Default is typically 16px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

  /* Inherit font size from :root or define it explicitly */
  font-size: inherit; /* This inherits the font size from :root */
}
